 img {
            border-radius: 100px;
            box-shadow: 20px 20px 10px gray;
        }
 figure {
        display: inline-block;
        text-align: center;
    }

    .redonda{
        border-radius: 50px 50px 50px 50px;

    }